*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

img{
	display:block;
	max-width: 90vw;
	height:auto;
}

body{
	font-family: Open Sans, sans-serif;


}

h1{
	font-size: 32
}

hr{
	margin:1em;
}
/*
Typographie principale : Open Sans
Typographie secondaire : Merriweather
Corps de texte : regular|light, 16pt
Corps de titre : 32pt


Couleur

Principale : #3E606F
Autres : #91AA9D, #D1DBBD, #FCFFF5, #3E606F, #193441, #172329


Icônes

logo (logo.svg)
pictogrammes
*/
a{
	text-decoration: none;
}

li{
	list-style: none;
}


h1, h2{
	text-align:center;
}

.btn{
	text-decoration: none;
	padding:1em 1.25em;
	background: ;
	color:;

}


.main-nav{
	display:flex;
	height:15vh;
	background: #91AA9D;
	color:  #172329;
	justify-content: space-around;
	align-items:center;
	padding: 1em 2em;
}

.logo{
	width:25%;
	max-width:180px;
	min-width:80px;
	

}

.main-nav-language-and-tel{
	display:flex;
	flex-flow: column;

}
.header-nav, .header-nav ul{
	display: none;
}

.header-nav li:hover .header-nav ul{
	display:block;
}



.hamburger-slice{
	width:30px;
	height:4px;
	background: #172329;
	margin-bottom:4PX;
}
/*
.header-nav .hamburger:focus,
.header-nav .hamburger:hover {
	display:block;


}

*/

@media(min-width: 800px){
	.hamburger{
		display:none;
	}

	.header-nav{
	display:block;
	}

	.header-nav li{
		display: inline-block;
		padding: 0 1em;

	}
	.header-nav li a{
	color:  #172329;
	}
}

/*=======================================
     main
     ======================================
*/
main{
	padding: 1.5em 2.5%;
}
.main-pic{
	width:95%;
	margin: 0 auto;
	max-width: 740px;
	min-height: 260PX;
	position: relative;
}

.img-front-room-container{
	width:95%;
	margin: 0 auto;
	max-width: 740px;
	min-height: 260PX;
	position: relative;
}

@media(min-width: 540Px){


.img-front-room-container:after{
	content:'Price: 350 Euros la nuitée';
	font-size: 0.8em;
	text-align:center;
	color:white;
	padding:1Em;
	display:block;
	bottom:0;
	right:0;
	height:20%;
	width:20%;
	background: #193441;
	position:absolute;
	z-index:2;
	transform: rotate(25deg);

}
}

@media(min-width: 675Px){


.img-front-room-container:after{
	font-size: 1.2em;

}}



main h1{
	color:#193441;
}

.pres-room{
	display:flex;
	flex-flow: column;
	align-items: center;
	text-align: center;
}

.pres-room p {
	margin-top: 2EM;
	max-width: 1100Px;
}


.room-options{
	padding: 1em;
	margin: 1em auto;
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	border: 1px solid black;
	grid-row-gap: 0.3EM;
	background: #D1DBBD;
	max-width: 780px;
}

.room-options p{
	text-align:center;
	background: white;
	padding:0.2EM 0;

}

.room-prix{
	margin: 0 auto;
	text-align:center;
	padding:0.6EM 0;
	background: #193441;
	color:white;
	border: 1px solid black;
	max-width: 360Px;
	font-size: 1.2rem;
}


/*======================================
         FOOOTER
      ===========================
*/

footer{
	background: #3E606F;
	color: #FCFFF5;
	margin-top: 3em;
	padding:1em 3em;

}
footer h3{
	text-align: center;
}

footer div{
	margin-bottom:1.2em;
	border-bottom: dashed 1px white;
	padding:0.5em 0;
	display:flex;
	flex-flow: column;
	align-items: center;
}
.nav-footer{
	display: flex;
	flex-flow:column;
	align-items: center;
}

.nav-footer li{
padding:1EM 1.2EM;
}
.nav-footer li a{
	padding:2EM 1.6EM;
	color: #FCFFF5;
}

.footer-container-sup{
	display: flex;
	display: space-around;

}

.footer-container-sup li{
	padding: 0.6em 0;
}

.footer-container-sup a{
	color:#FCFFF5;
}

.col{
	flex:1 1 28%;
}

.footer-contact i{
	width:20Px;
	height:20px;
	padding:1em;
	color:white;

}

iframe{
	max-width:90vw;
}

@media(min-width: 450px){
	footer{
		display:flex;
		flex-wrap: wrap;
	}
}





	une description courte
le nombre de place (2), lit king size
la salle de bain (douche spa)
la superficie : 27m2
l'accès handicapé (oui)
le prix à la nuitée : 350 €
un formulaire de réservation
une section avec les services contenant :

le titre "Nos services"
3 blocs de services contenant chacun un titre, une image et une liste de services