*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

img{
	display:block;
	max-width: 90vw;
	height:auto;
}

body{
	font-family: Open Sans, sans-serif;


}

h1{
	font-size: 32
}

hr{
	margin:1em;
}
/*
Typographie principale : Open Sans
Typographie secondaire : Merriweather
Corps de texte : regular|light, 16pt
Corps de titre : 32pt


Couleur

Principale : #3E606F
Autres : #91AA9D, #D1DBBD, #FCFFF5, #3E606F, #193441, #172329


Icônes

logo (logo.svg)
pictogrammes
*/
a{
	text-decoration: none;
}

li{
	list-style: none;
}


h1, h2{
	text-align:center;
	padding:1Em;
}

.btn{
	text-decoration: none;
	padding:1em 1.25em;
	background: ;
	color:;

}


.main-nav{
	display:flex;
	height:15vh;
	background: #91AA9D;
	color:  #172329;
	justify-content: space-around;
	align-items:center;
	padding: 1em 2em;
}

.logo{
	width:25%;
	max-width:180px;
	min-width:80px;
	

}

.main-nav-language-and-tel{
	display:flex;
	flex-flow: column;

}
.header-nav, .header-nav ul{
	display: none;
}

.header-nav li:hover .header-nav ul{
	display:block;
}



.hamburger-slice{
	width:30px;
	height:4px;
	background: #172329;
	margin-bottom:4PX;
}
/*
.header-nav .hamburger:focus,
.header-nav .hamburger:hover {
	display:block;


}

*/

@media(min-width: 800px){
	.hamburger{
		display:none;
	}

	.header-nav{
	display:block;
	}

	.header-nav li{
		display: inline-block;
		padding: 0 1em;

	}
	.header-nav li a{
	color:  #172329;
	}
}


/*======================================
         MAIN
      ===========================
*/

main{
	margin:1em 1.2em;
	text-align:center;
}

.intro{
	margin-bottom: 3em ;
}

.choice-selection-holder{

	padding:0.6rem;
	margin: 0.3em 0;
	background: #3E606F;
	color:white;
	border-radius: 8PX;

}



.rooms{
	margin: 2.2rem 0;
}

.room{
	margin: 0.5em 0;
}

.info-room-img{

	height: 22rem;

}

.button-info-room{

	padding: 0.6EM;
	background: #D1DBBD;
	color:#172329;
	border-radius: 18Px;

}

.info-room{
	display:flex;
	flex-flow: column;
	align-items: center;

}

.choice-selection{
	margin: 1em 0;
}


@media(min-width: 540px){
	.choice-selection{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

	}
}

@media(min-width: 664px){
	.choice-selection{
		display: flex;
	}
	.choice-selection-holder{
		margin: 0 0.3em;
		margin-bottom:0.3em;
		flex:1 1 auto;
	}
}

@media(min-width: 800px){
	.list-of-rooms{
		display :grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
	}


}















.services-intro{
	margin:2EM 0;
}



.our-services, .service, .service-ul, .services{
	display:flex;
	flex-flow: column;
	align-items: center;

}

.services h2{
	margin: 2EM 0;
}

.service{
	margin-bottom: 1Em;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
	padding: 1em;
}

.service h3{
	text-decoration: underline;
}

.service-imgs{
	height: 20em;
	margin: 2em 0;
}

@media(min-width: 800px){
	.our-services{
		flex-flow: row;
		flex-wrap: wrap;
	}
	.service{
	margin:0 1EM;
	}
}

























/*======================================
         FOOOTER
      ===========================
*/

footer{
	background: #3E606F;
	color: #FCFFF5;
	margin-top: 3em;
	padding:1em 3em;

}
footer h3{
	text-align: center;
}

footer div{
	margin-bottom:1.2em;
	border-bottom: dashed 1px white;
	padding:0.5em 0;
	display:flex;
	flex-flow: column;
	align-items: center;
}
.nav-footer{
	display: flex;
	flex-flow:column;
	align-items: center;
}

.nav-footer li{
padding:1EM 1.2EM;
}
.nav-footer li a{
	padding:2EM 1.6EM;
	color: #FCFFF5;
}

.footer-container-sup{
	display: flex;
	display: space-around;

}

.footer-container-sup li{
	padding: 0.6em 0;
}

.footer-container-sup a{
	color:#FCFFF5;
}

.col{
	flex:1 1 28%;
}

.footer-contact i{
	width:20Px;
	height:20px;
	padding:1em;
	color:white;

}

iframe{
	max-width:90vw;
}

@media(min-width: 450px){
	footer{
		display:flex;
		flex-wrap: wrap;
	}
}



