*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

img{
	display:block;
	max-width: 90vw;
	height:auto;
}

body{
	font-family: Open Sans, sans-serif;


}

h1{
	font-size: 32
}

hr{
	margin:1em;
}
/*
Typographie principale : Open Sans
Typographie secondaire : Merriweather
Corps de texte : regular|light, 16pt
Corps de titre : 32pt


Couleur

Principale : #3E606F
Autres : #91AA9D, #D1DBBD, #FCFFF5, #3E606F, #193441, #172329


Icônes

logo (logo.svg)
pictogrammes
*/
a{
	text-decoration: none;
}

li{
	list-style: none;
}


h1, h2{
	text-align:center;
}

.btn{
	text-decoration: none;
	padding:1em 1.25em;
	background: ;
	color:;

}


.main-nav{
	display:flex;
	height:15vh;
	background: #91AA9D;
	color:  #172329;
	justify-content: space-around;
	align-items:center;
	padding: 1em 2em;
}

.logo{
	width:25%;
	max-width:180px;
	min-width:80px;
	

}

.main-nav-language-and-tel{
	display:flex;
	flex-flow: column;

}
.header-nav, .header-nav ul{
	display: none;
}

.header-nav li:hover .header-nav ul{
	display:block;
}



.hamburger-slice{
	width:30px;
	height:4px;
	background: #172329;
	margin-bottom:4PX;
}
/*
.header-nav .hamburger:focus,
.header-nav .hamburger:hover {
	display:block;


}

*/

@media(min-width: 800px){
	.hamburger{
		display:none;
	}

	.header-nav{
	display:block;
	}

	.header-nav li{
		display: inline-block;
		padding: 0 1em;

	}
	.header-nav li a{
	color:  #172329;
	}
}

/*=======================================
     HERO
     ======================================
*/


.hero{
	background: #3E606F;
	color:#FCFFF5;
	height:70vh;
	font-family: Merriweather, serif;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	padding:1em;
}

.hero h1{
	font-size: 32pt;
	margin-bottom: 0.1em;
}

.hero h2{
	font-size: 22pt;
	color:#193441;
}

@media(min-width: 800px){

	
}

/*=======================================
     List  rooms
     ======================================
*/



.rooms{
	padding: 1em 1.2em;
}

.list-of-rooms{
	display:flex;
	flex-wrap: wrap;
	
}

.room{
	flex: 1 0 40%;
	height:25vh;
	background-image: url(https://images.unsplash.com/photo-1506664453913-f326aa81f54d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 1Em;
	display: flex;
	flex-flow:column;
	justify-content: center;
	align-items: center;


}

.room figcaption, {

display: flex;
	flex-flow:column;
	align-items: center;
	justify-content: center;
background: #D1DBBD;
color:#193441;
width:65%;
padding:0.4em 0.8em;
border: dashed 1px #193441 ;
}

.room figcaption a{
	padding:0.1em 0.3em ;
	color:#193441;

}




.room:nth-child(odd){
	margin-right: 1em;
}


@media(min-width:800px){
	.room{
		flex: 1 0 20%;;
	}

	.room:nth-child(even){
	margin-right: 1em;
}
}

/* ====================================
	our roOM    service 
	===================================
	*/


.our-services, .service, .service-ul, .services{
	display:flex;
	flex-flow: column;
	align-items: center;

}

.services h2{
	margin: 2EM 0;
}

.service{
	margin-bottom: 1Em;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
	padding: 1em;
}

.service h3{
	text-decoration: underline;
}

.service-imgs{
	height: 20em;
	margin: 2em 0;
}

@media(min-width: 800px){
	.our-services{
		flex-flow: row;
		flex-wrap: wrap;
	}
	.service{
	margin:0 1EM;
	}
}

/* ====================================
	zoom premium
	===================================
	*/

.zoom-premium{
	padding: 1em 1.2em;
	margin-top: 3Em;
	background:#3E606F;
	color:#FCFFF5;
}

.zoom-premium-img{
	height:24em;
	margin:0.42EM 0;
}


.zoom-premium-ul-container{
	width:100%;
	display:flex;
	justify-content: space-around;
	margin:1Em 0;

}

.zoom-premium-desc{
	display:flex;
	flex-flow: column;
	align-items:center;
	justify-content: center;
}



.zoom-premium-service-img{
	height: 24vh;

}

@media(min-width: 500px){

	.zoom-premium-services-holder{
		display:flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.zoom-premium-img{
		max-width: 45vw;
		width:100%;
		margin:1em 0;

}

	.zoom-premium-particularity{
		display: flex;
	}

	.zoom-premium-desc{
		padding:2EM;

}
}


/* ====================================
	formmmmmmmmmmmmmmmmm
	===================================
	*/

.form-room-booking{
	padding:2em;
	display:flex;
	justify-content: center;
}
#book-a-room{
	box-shadow: 0 0 20 rgba(0 0 0 0.2);
	min-width:280px;
	height:auto;
	display:flex;
	flex-flow: column;
	align-items: center;
	background: #91AA9D;
	border-radius: 20px;
	padding:1em;
}



.form-div{
	display: flex;
	flex-flow: column;
	align-items: center;

}


#submit{
	padding:0.7em;
	margin:0.5em;
	background:#3E606F;
	color:#FCFFF5; 
	border-radius:12px;
}


/*======================================
         FOOOTER
      ===========================
*/

footer{
	background: #3E606F;
	color: #FCFFF5;
	margin-top: 3em;
	padding:1em 3em;

}
footer h3{
	text-align: center;
}

footer div{
	margin-bottom:1.2em;
	border-bottom: dashed 1px white;
	padding:0.5em 0;
	display:flex;
	flex-flow: column;
	align-items: center;
}
.nav-footer{
	display: flex;
	flex-flow:column;
	align-items: center;
}

.nav-footer li{
padding:1EM 1.2EM;
}
.nav-footer li a{
	padding:2EM 1.6EM;
	color: #FCFFF5;
}

.footer-container-sup{
	display: flex;
	display: space-around;

}

.footer-container-sup li{
	padding: 0.6em 0;
}

.footer-container-sup a{
	color:#FCFFF5;
}

.col{
	flex:1 1 28%;
}

.footer-contact i{
	width:20Px;
	height:20px;
	padding:1em;
	color:white;

}

iframe{
	max-width:90vw;
}

@media(min-width: 450px){
	footer{
		display:flex;
		flex-wrap: wrap;
	}
}



	
















